<!DOCTYPE html>
<html>

<head>
    <title>Ladakpo Jibril CV</title>
    <link rel="stylesheet" href="../style/cv_style.css"/>
</head>

<body>
    <h1>Ladakpo Jibril</h1>
    <p>
        Apprenti développeur
    </p>
    <a href="../image/photo_jibril.png"><img src="../image/photo_jibril_mini.png" alt="une photo de Jibril" title="une photo de Jibril" /></a>

    <h2>Mon Expérience</h2>
    <ul>
        <li>08 Janvier 2016 - 11 Fevrier 2016: Stage de 5 semaines à la Ferté Macé au sein du service informatique de l'hôpital<br /> Mission:création d'un agenda en ligne pour les consultations externes
        </li>

        <li>
            28 Juin 2016 - 22 Octobre 2016: Contrat à la semaine en intérim dans l'entreprise SDPS sérigraphie situé à Saint-Denis-sur-Sarthon<br /> Mission: agent de fabrication(collage, emballage, découpage de commandes)
        </li>
    </ul>

    <h2>Mes compétences</h2>
    <ul>
        <li>
            HTML5 et CSS3
        </li>
        <li>
            PHP
        </li>
        <li>
            SQL
        </li>
    </ul>
    <h2>Ma formation</h2>
    <ul>
        <li>
            2014 - 2016: BTS SIO SLAM(Non validé) - Lycée Saint Ursule CAEN(14)
        </li>
    </ul>
</body>

</html>
