<!DOCTYPE html>
<html>
  <head>
<title>Ladakpo Jibril CV</title>
  </head>
  <body>
  <h1>Ladakpo Jibril</h1>
  <p>
    Apprenti développeur
  </p>
  <img src="image/photo_jibril.png" alt="une photo de Jibril" title="une photo de Jibril"/>
  <h2>Mon Expérience</h2>
  <ul>
    <li>08 Janvier 2016 - 11 Fevrier 2016: Stage de 5 semaines à la Ferté Macé au sein du service informatique de l'hôpital<br />
      Mission:création d'un agenda en ligne pour les consultations externes</li>
      <li>
        28 Juin 2016 - 22 Octobre 2016: Contrat à la semaine en intérim dans l'entreprise SDPS sérigraphie situé à Saint-Denis-sur-Sarthon<br />
        Mission: agent de fabrication(collage, emballage, découpage de commandes)
      </li>

  </ul>
  <h2>Mes compétences</h2>
  <li>
    HTML5 et CSS3
  </li>
  <li>
    PHP
  </li>
  <li>
    SQL
  </li>
  <h2>Ma formation</h2>
  <li>
    2014 - 2016: BTS SIO SLAM(Non validé) - Lycée Saint Ursule CAEN(14)
  </li>

  </body>
</html>
